<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP ToDo List JSON</title>

    <link rel="stylesheet" href="style.css">
</head>


<body>
    <div id="app">


        <div class="container">
            <h1>
                {{title}}
            </h1>
            <div class="task-container">

                <ul>
                    <li v-for="(todo,index) in todos">
                        <span :class="{done: todo.done == true}">
                            {{todo.taskName}}
                        </span>
                    </li>
                </ul>

            </div>
            <form action="api.php" method="post" @submit.prevent="addTask()">
                <input type="text" v-model="newTask.taskName" placeholder="Inserisci elemento...">
                <button>Inserisci</button>
            </form>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>

</html>